
body {
  margin: 0;
  padding: 0;
}

#flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#flexbox {
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}
