{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <title>chat</title>
    <link href="{% static 'chat/base.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
</head>

<body>
  <br><br>
  <div id='flex'>
    あなたは{{ user.get_username }}です。
    <a href='/chat/index'>index</a>&nbsp;&nbsp;
    <a href='/chat/logout'>ログアウト</a>&nbsp;&nbsp;
    <!-- <a href='/chat/ajax'>hello</a>&nbsp;&nbsp; -->
    <br><br>
  </div>
  <hr>
  <div id='flexbox'>
    {% block main %}
    {% endblock %}
  </div>

  {% block js %}{% endblock %}
</body>
</html>
