

{% extends 'chat/base.html' %}
{% load static %}
{% block css %}
  <link href="{% static 'chat/room.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
  <div id='message_box'>
    <div id='message_header'>
      &nbsp;&nbsp;&nbsp;&lt;&lt;&lt;&nbsp;&nbsp;{{ other_name }}
    </div>
    <div id='message'>
      {% if message_list %}

        {% for message in message_list%}
          {% if message.0 == my_id %}
            <div id='right'>
              <p>
                {{ message|slice:"13:15"}}:
                {{ message|slice:"16:18"}}
              </p>
              {{ message|slice:"19:"}}
            </div>
          {% else %}
            <div id='left'>
              <p>
                {{ message|slice:"13:15"}}:
                {{ message|slice:"16:18"}}
              </p>
              {{ message|slice:"19:"}}
            </div>
          {% endif %}
        {% endfor %}
      {% else %}
        <p style='margin-bottom:200px; font-size:25px;'>
          {{ other_name }}さんと<br>
          メッセージしてみよう！
        </p>
      {% endif %}

    </div>
    <div id='send'>
      <form method="post">
        {% csrf_token %}
        <input type="text" name="message_text">
        <input type="submit" value="送信する">
        <input type="reset" value="リセット">
      </form>
    </div>
  </div>
{%endblock%}


{% block js %}
<script>
  <!-- setTimeout("location.reload()",5000); -->
</script>
{% endblock %}
